@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header {
  position: relative;
  display: flex;
  flex-direction: column;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 30px;
  margin: 0;
}
header .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 40px;
  margin: 0;
}
header .location i {
  margin-right: 10px;
}

/* Style bouton header pour les pages restaurant */
header > a > i {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 5%;
  top: 40%;
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
}
footer h2 {
  margin: 0 0 10px 0;
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 20px;
  font-weight: 100;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style-type: none;
  margin-top: 10px;
}
footer ul li a {
  display: flex;
  text-decoration: none;
  color: white;
}
footer ul li a h3 {
  margin: 0;
  font-size: 15px;
}
footer ul li a i {
  margin-right: 10px;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}

.imgpresentation {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vh;
  position: absolute;
  z-index: 0;
}

.container {
  max-width: 800px;
  width: 90%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 30px 5%;
  border-radius: 40px 40px 0 0;
  z-index: 1;
  margin-top: 45vh;
}
.container h2 {
  font-family: "Shrikhand", cursive, sans-serif;
  margin-bottom: 30px;
}

p, h2, h3, h4 {
  margin: 0;
}

.line {
  border: #99E2D0 2px solid;
  width: 45px;
  margin: 10px 0;
}

.food {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.food h3 {
  font-weight: 300;
}
.food-card {
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  position: relative;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
}
.food-card .divlinewebkit {
  margin: 10px 0 10px 15px;
}
.food-card .divlinewebkit h4 {
  font-size: 20px;
  font-size: calc(16px + 0.2vw);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.food-card .divlinewebkit p {
  font-size: calc(14px + 0.2vw);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.food-card .decalage {
  display: flex;
}
.food-card .decalage .prix {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 10px;
}
.food-card .decalage .check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 30px);
  background-color: #99E2D0;
  padding: 15px 25px;
  margin-left: 15px;
  border-radius: 0 20px 20px 0;
}
.food-card .decalage .check i {
  color: white;
}

.btn-commander {
  align-self: center;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  display: block;
  padding: 15px 25px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-commander:hover {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}

.delayentree {
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.delayplat {
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.delaydessert {
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes apparition {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes apparition {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Loader */
.pageloader {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -10;
  -webkit-animation-name: arret;
          animation-name: arret;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.pageloader .loader {
  border: 16px solid #F6F6F6;
  width: 100px;
  height: 100px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation-name: chargeur;
          animation-name: chargeur;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: fixed;
  bottom: calc(50% - 50px - 16px);
  right: calc(50% - 50px - 16px);
}

@-webkit-keyframes chargeur {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes chargeur {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes arret {
  from {
    z-index: 10;
  }
  to {
    z-index: 10;
  }
}
@keyframes arret {
  from {
    z-index: 10;
  }
  to {
    z-index: 10;
  }
}
/* Section Reserver */
#sectionreserver {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 40px 10%;
  gap: 20px;
}
#sectionreserver h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
#sectionreserver p {
  margin: 0;
  text-align: center;
  font-weight: 300;
}
#sectionreserver a {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  display: block;
  padding: 15px 25px;
  border-radius: 25px;
  text-decoration: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#sectionreserver a:hover {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
}

/* Section Fonctionnement */
#fonctionnement {
  padding: 30px 8%;
  background-color: white;
}
#fonctionnement h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.boxfonctionnement {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

.cartefonctionnement {
  transition: 0.3s;
  padding: 25px 0;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cartefonctionnement i {
  color: #7E7E7E;
  margin-right: 20px;
  font-size: 20px;
}
.cartefonctionnement h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}
.cartefonctionnement .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px;
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  position: absolute;
  left: -12.5px;
  font-size: 13px;
}
.cartefonctionnement:hover {
  background-color: #F5EDFF;
}
.cartefonctionnement:hover i {
  color: #9356DC;
}

/* Section Restaurant */
#restaurant {
  padding: 30px 8%;
  background-color: #F6F6F6;
}
#restaurant h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
#restaurant .restaurant-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.carterestaurant {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: white;
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  position: relative;
  text-decoration: none;
  color: black;
}
.carterestaurant img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.carterestaurant-info {
  padding: 20px 15px;
  position: relative;
}
.carterestaurant h3 {
  margin: 0 0 5px 0;
  font-weight: 600;
}
.carterestaurant p {
  margin: 0;
  font-weight: 300;
}
.carterestaurant .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  padding: 7px 12px;
  color: #008766;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
}
.carterestaurant i {
  position: absolute;
  top: 35%;
  right: 7%;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */