@import"./SCSS/Utils/_variables.scss";
@import"./SCSS/Utils/_mixins.scss";
@import"./SCSS/Base/_font.scss";
@import"./SCSS/Layout/_header.scss";
@import"./SCSS/Layout/_footer.scss";
@import "./SCSS/Pages/_LaPaletteDuGout.scss";

body{
    margin: 0;
    font-family:$fontText; 
}

/* Loader */
.pageloader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -10;
    animation-name: arret;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    .loader {
        border: 16px solid #F6F6F6;
        width: 100px;
        height: 100px;
        border-top-color:$couleur_primaire;
        border-bottom-color: $couleur_secondaire;
        border-radius: 50%;
        animation-name: chargeur;
        animation-duration: 1.5s;
        animation-iteration-count: 4;
        animation-timing-function: linear;
        position: fixed;
        bottom: calc(50% - 50px - 16px);
        right: calc(50% - 50px - 16px);
    }
}
@keyframes chargeur{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes arret {
    from{
        z-index:10 ;
    }
    to{
        z-index: 10;
    }
}



/* Section Reserver */
#sectionreserver{
    @include center;
    flex-direction: column;
    background-color: #F6F6F6;
    padding: 40px 10%;
    gap: 20px;
    h2{
        font-size: 22px;
        font-weight: 600;
        margin: 0;
        text-align: center;
    }
    p{
        margin: 0;
        text-align: center;
        font-weight: 300;
    }
    a{
        background:linear-gradient(to bottom,$couleur_secondaire,$couleur_primaire) ;
        display: block;
        padding: 15px 25px;
        border-radius: 25px;
        text-decoration: none;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover{
            opacity: .9;
            box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
        }
    }
}

/* Section Fonctionnement */
#fonctionnement{
    padding: 30px 8%;
    background-color: white;
    h2{
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 20px 0;
    }
}

.boxfonctionnement{
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
}

.cartefonctionnement{
    transition: .3s;
    padding: 25px 0;
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    @include center;
    position: relative;
    i{
        color: #7E7E7E;
        margin-right: 20px;
        font-size: 20px;
    }
    h3{
        margin: 0;
        font-size: 17px;
        font-weight: 500;

    }
    .numero{
        @include center;
        color: white;
        border-radius: 15px;
        height: 25px;
        width: 25px;
        background-color: $couleur_primaire;
        position: absolute;
        left: calc(-25px / 2);
        font-size: 13px;
    }
    &:hover{
        background-color: #F5EDFF;
        i{
            color: $couleur_primaire;
        }
    }
}




/* Section Restaurant */
#restaurant{
    padding: 30px 8%;
    background-color: #F6F6F6;
    h2{
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 20px 0;
    }
    .restaurant-box{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 30px;
    }
}

.carterestaurant{
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    position: relative;
    text-decoration: none;
    color: black;
    img{
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &-info{
        padding: 20px 15px;
        position: relative;
    }
    h3{
        margin: 0 0 5px 0;
        font-weight: 600;
    }
    p{
        margin: 0;
        font-weight: 300;
    }
    .nouveau{
        position: absolute;
        top: 15px;
        right: 15px;
        @include center;
        background-color:$couleur_tertiaire ;
        padding: 7px 12px;
        color: #008766;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 400;
    }
    i{
        position: absolute;
        top:35%;
        right: 7%;
        font-size: 20px;
    }
}




