body{
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}
.imgpresentation{
    width: 100%;
    object-fit: cover;
    height: 50vh;
    position: absolute;
    z-index: 0;
}

.container{
    max-width: 800px;
    width: calc(100% - 10%);
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding: 30px 5%;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    margin-top: 45vh;
    h2{
        font-family:$fontLogoTitre;
        margin-bottom: 30px;
    }
}

p,h2,h3,h4{
    margin: 0;
}

.line{
    border:$couleur_tertiaire 2px solid ;
    width: 45px;
    margin: 10px 0 ;
}

.food{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    h3{
        font-weight: 300;
    }
    &-card{
        background-color: white;
        width:100%;
        margin-bottom: 10px;
        border-radius: 20px;
        position: relative;
        justify-content: space-between;
        display: flex;
        overflow:hidden;
        &:hover{
            .decalage{
                animation: decalagegauche .3s linear 0s 1 both;
            }
        }
        .divlinewebkit{
            margin: 10px 0 10px 15px;
            h4{
                font-size:20px ;
                font-size: calc(16px + .2vw);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p{
                font-size: calc(14px + .2vw);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }
        .decalage{
            display: flex;
            margin-right:-66px;
            animation: decalagedroite .3s linear 0s 1 both;
            .prix{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                font-weight: 500;
                padding-left: 15px;
                margin-bottom: 10px;
            } 
            .check{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: calc(100% - 30px);
                background-color: $couleur_tertiaire;
                padding: 15px 25px;
                margin-left:15px;
                border-radius: 0 20px 20px 0;

                i{
                    color: white;
                }
            }
        }    
    }
}







.btn-commander{
    align-self: center;
    background:linear-gradient(to bottom,$couleur_secondaire,$couleur_primaire) ;
    display: block;
    padding: 15px 25px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        opacity: .9;
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
    }
}





.delayentree{
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}
.delayplat{
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.delaydessert{
    animation-name: apparition;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}



@keyframes apparition {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes decalagegauche {
    from{
        margin-right: -66px;
    }
    to{
        margin-right: 0;
    }
}
@keyframes decalagedroite {
    from{
        margin-right: 0;
    }
    to{
        margin-right: -66px;
    }
}