footer{
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    h2{
        margin: 0 0 10px 0;
        font-family: $fontLogoTitre;
        font-size: 20px;
        font-weight: 100;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            margin-top: 10px;
            a{
                display: flex;
                text-decoration: none;
                color: white;
                h3{
                    margin: 0;
                    font-size: 15px;
                }
                i{
                    margin-right: 10px;
                }
            }
        }
    }
}